---
import fetchApi from "../../lib/strapi";
import type { PlanTypes } from "../../interfaces/plan-types";
import ImageAndPDF from "../../components/image-and-pdf";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const plans = await fetchApi<PlanTypes[]>({
    endpoint: "plans", // the content type to fetch
    wrappedByKey: "data", // the key to unwrap the response
    more: true,
    fields: ["areas"],
  });

  return plans.map((plan) => ({
    params: { slug: plan.slug },
    props: plan,
  }));
}

const plan = Astro.props;

const createdAtDate = new Date(plan.createdAt).toLocaleDateString();
const updatedAtDate = plan.updatedAt
  ? new Date(plan.updatedAt).toLocaleDateString()
  : null;

plan.notes &&
  console.error("using the old plan notes, move them to basic notes");
---

<Layout>
  <h1 class="jobber">
    {plan.jobber ? plan.jobber : <span class="error">Missing Jobber</span>}
  </h1>

  <h2>{plan.name}</h2>

  <address class="capitalize">
    <span class="kilimanjaro">{plan.address}</span><br />
    {plan?.areas?.[0]?.name ?? "No area name available"},
    {plan?.areas?.[0]?.state ?? "No state available"}, {plan.zip}
  </address>

  <hr />

  <p>
    {
      plan.timerHours || plan.timerFallback ? (
        `Timer ${plan.timerHours ? plan.timerHours + "hours" : plan.timerFallback}`
      ) : (
        <span class="error">Missing Timer Info</span>
      )
    }
  </p>

  {
    plan.basicNotes ? (
      <>
        <h2>Notes</h2>
        <pre>{plan.basicNotes}</pre>
      </>
    ) : null
  }

  {
    plan.notes ? (
      <>
        <p class="error">There are Notes instead of Block Notes</p>
        <h2>Old Notes</h2>
        {plan.notes}
      </>
    ) : null
  }

  <ImageAndPDF
    plan={plan}
    createdAtDate={createdAtDate}
    updatedAtDate={updatedAtDate ?? ""}
    client:load
  />

  <hr />

  <p>Created at {createdAtDate}</p>
  {updatedAtDate !== createdAtDate ?
    <p>Updated at {updatedAtDate}</p>
  : null}
</Layout>
