---
import fetchApi from "../../lib/strapi";
import type { PlanTypes } from "../../interfaces/plan-types";
import ImageAndPDF from "../../components/image-and-pdf";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const plans = await fetchApi<PlanTypes[]>({
    endpoint: "plans", // the content type to fetch
    wrappedByKey: "data", // the key to unwrap the response
    more: true,
    fields: ["areas"],
  });

  return plans.map((plan) => ({
    params: { slug: plan.slug },
    props: plan,
  }));
}

const plan = Astro.props;

const createdAtDate = new Date(plan.createdAt).toLocaleDateString();
const updatedAtDate = plan.updatedAt
  ? new Date(plan.updatedAt).toLocaleDateString()
  : null;

plan.notes &&
  console.error("using the old plan notes, move them to basic notes");
---

<Layout>
  {
    plan.notes ? (
      <p class="everest error">There are Notes instead of Block Notes</p>
    ) : null
  }

  <h1>{plan.name}</h1>

  <address class="capitalize">
    <span class="kilimanjaro">{plan.address}</span><br />
    {plan?.areas?.[0]?.name ?? "No area name available"},
    {plan?.areas?.[0]?.state ?? "No state available"}, {plan.zip}
  </address>

  <hr />

  <div class="deck">
    <p class="plan-detail">
      <span class="eyebrow">Jobber install</span>
      <span class="supra"
        >{
          plan.jobber
            ? plan.jobber
            : '<span class="error">Missing Jobber</span>'
        }</span
      >
    </p>
    <p class="plan-detail">
      <span class="eyebrow">Jobber takedown</span>
      <span class="supra"
        >{
          plan.jobbertakedown
            ? plan.jobbertakedown
            : '<span class="error">Missing Jobber Takedown</span>'
        }</span
      >
    </p>
  </div>

  <hr />

  {
    plan.timerHours ? (
      <p class="plan-detail">
        <span class="eyebrow">Timer</span>
        <span class="supra">{plan.timerHours} Hours</span>
      </p>
    ) : null
  }

  {
    plan.timerFallback ? (
      <p class="plan-detail">
        <span class="eyebrow">Timer</span>
        <span class="supra">{plan.timerFallback}</span>
      </p>
    ) : null
  }

  {
    plan.basicNotes ? (
      <>
        <h2>Basic Notes</h2>
        <pre>{plan.basicNotes}</pre>
      </>
    ) : null
  }

  {
    plan.notes ? (
      <>
        <h2>Old Notes</h2>
        {plan.notes}
      </>
    ) : null
  }

  <ImageAndPDF
    plan={plan}
    createdAtDate={createdAtDate}
    updatedAtDate={updatedAtDate ?? ""}
    client:load
  />

  <div class="deck">
    <p class="plan-detail">
      <span class="eyebrow">Created at</span>
      <span class="supra">{createdAtDate}</span>
    </p>
    <p class="plan-detail">
      <span class="eyebrow">Updated at</span>
      <span class="supra"> {updatedAtDate}</span>
    </p>
  </div>
</Layout>
